// colors
$blue: #0374A6;
$dark-blue: #114B6F;
$teal: #03A6A6;
$yellow: #E8B90D;
$salmon: #FD736C;
$red: #EB5A30;
$gray: #B7B7B7;

// content padding
$content-gutter: 2rem;

// typography
$font-family-base: 'Campton-SemiBold', sans-serif;
$font-family-light: 'Campton-Light', sans-serif;
$font-family-semibold: 'Campton-SemiBold', sans-serif;
$font-family-headings: 'Campton-SemiBold', sans-serif;

// font sizes
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.7rem;
$font-size-h4: 1.4rem;
$font-size-h5: 1.25rem;